/* Table wrapping */
.wy-table-responsive table td,
.wy-table-responsive table th {
    white-space: normal !important;
}

/* admonition colors */

div.admonition-sample-data.admonition {
    padding: 3em;
    color: #ffce84;
    display:block;
    color: #000000;
    background: #ffce84;
    margin:-12px;
    padding:6px 12px;
    margin-bottom:12px}

.wy-alert-title,.rst-content .admonition-title {
 color:#fff;
 font-weight:bold;
 display:block;
 color:#fff;
 background:#f9ab34;
 margin:-12px;
 padding:6px 12px;
 margin-bottom:12px
}
